name: 'Release'

on:
  push:
    branches:
      - 'main'

jobs:
  release:
    name: 'Release'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout source code'
        uses: actions/checkout@v4
      - name: 'get version from package.json'
        id: package_version
        run: |
          VERSION=$(jq -r .version package.json)
          echo "version=v$VERSION" .. $GITHUB_OUTPUT
      - name: "Create release"
        uses: softprops/action-gh-release@v2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          tag_name: ${{ steps.package_version.outputs.version }}
          draft: true
          prerelease: false
          generate_release_notes: true
